input {
  display: block;
}

#city--form {
  width: 80%;
}

#city--form input {
  margin-top: 8px;
  width: 100%;
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 8px;
}

#city--form input:focus {
  outline: none;
}

.input--open {
  border-radius:  8px 8px 0px 0px;
}

.input--close {
  border-radius: 8px;
}


#search--result {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-right: 16px;
  padding-bottom: 8px;
  border-radius: 0px 0px 8px 8px;

}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 8px;
  border-radius: 0px 16px 16px 0px;
  cursor: pointer;

}

li:hover {
  background-color: rgb(226, 226, 226);
}